*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}
body {
    background: url(../img/bg.jpg);
}
.home-section {
    margin-top: 0px;
    padding: 100px 50px;
}

.inner-container{
    width: 50%;
    float: right;
    padding: 30px;
    background-color:white;
    opacity: 0.6;
}

.inner-container:hover {
    opacity: 1.0;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;   
}

.border {
    height: 3px;
    width: 475px;
    background-color: coral;
}

.text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.button{
    border: none;
    padding: 8px 15px;
    background-color: coral;
    width: 12%;
}

.button a{
    text-decoration: none;
}

.button:hover {
    background-color:#86c232;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
