.container{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.details, h1, table, .result, .button{
    margin: auto;
    width: 60%;
    padding: 10px;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}