body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:black;
}

.main{
    display: grid;
    align-items: center;
}

.login,.search{
    padding: 20px;
}

/* form */
input,select{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
}

input[type=text],input[type=password],select{
    background-color:rgb(104, 214, 159);
    color: black;
    border: none;
    font-size: 100%;
    letter-spacing: 0.2em;
}

input[type=submit]{
    background-color:rgb(104, 214, 159);
    color: black;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 16px;

}

input[type=submit]:hover{
    background-color: #86c232;
    color: black
}

fieldset{
    color: black;
    border: 1px;
    width: 400px;
    margin:auto;
    font-size: 20px;
    border-radius: 10px;
    padding: 1px 10px;
    border-color: turquoise;
    border-style: solid;
}



